/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block-my-search {
    width: 100%;
    display: flex;
    border-radius: 10px;
    height: 48px;
    background-color: #F3F9FB;
    overflow: hidden;
    padding-left: 10px;

	&__input{
    width: 100%;
		background-color: transparent;
		border: none;

		&:focus{
			outline: none;
		}

		&::placeholder{
			color: #BFBFBF;
		}
	}

	&__button{
    border: none;
    background: #FFD970;
    color: #096B36;
    padding: 16px;
    font-size: 18px;

	}

}
