.btn-completed {
    color: black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    font-size: 16px;
		cursor: pointer;
}

.btn-completed::after{
	content: url('../../../assets/icons/check-gray.svg');
	margin-left: 10px;
}

.btn-completed.is_completed{
	color: var(--wp--preset--color--secundario);
}

.btn-completed.is_completed::after{
	content: url('../../../assets/icons/check-blue.svg');
}

.btn-completed__text{
	text-align: center;
}


@media(max-width:780px){
	.btn-completed__text{
		font-size: 12px;
	}
}
